<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ejemploappexperto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_principal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegistrarFamiliar"></activity>
        <activity android:name=".InformacionFamiliar" />
        <activity android:name=".EditarFamiliar" />
        <activity android:name=".AgregarVivienda" />
        <activity android:name=".EditarVivienda" />
        <activity android:name=".InformacionVivienda" />
        <activity android:name=".MainSinAcceso" />
        <activity android:name=".Viviendas" />
        <activity android:name=".Familiares" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>